body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
}
/* Header */
#search form {
	display: none;
}
header {
	width: 980px;
	height: 50px;
	left: 50%;
	position: fixed;
	margin: 0 -490px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 100;
}
header a{
	font-size: 1.4em;
	margin: 0 1px;
}
.navitem{
	display: inline;
}
.navitem:first-child a{
	border-radius: 0 0 0 10px;
	margin: 0 1px 0 0;
}
.navitem a {
	display: block;
	width: 110px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	color:#032f5c;
	transition: color 0.5s, background-color 0.5s;
}
.navitem a:hover{
	background-color:#f3c0b0;
	color:#ffffff;
}
/* These selected items have the important styles */
header .selected {
	background-color:#eb88a5 !important;
	color:#ffffff !important;
	/* cursor: default !important; */
}
header .selected:hover{
	background-color:#eb88a5 !important;
	color:#ffffff !important;
}
#login a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
	border-radius: 0 0 10px 0;
	width: 110px;
	background-color: #ffffff;
	color: #032f5c;
	transition: color 0.5s, background-color 0.5s;
	margin: 0 0 0 1px;
}
#login a:hover{
	background-color: #f3c0b0;
	color: #fff;
}
#lang a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1em;
	float: right;
	margin: 10px 0;
	color: #032f5c;
	transition: color 0.5s, background-color 0.5s;
}
#lang a:hover{
	background-color: #f3c0b0;
	color: #ffffff;
}
#sicon img{
	float: right;
	margin: 0 1px;
	width: 50px;
	cursor: pointer;
	transition: background-color 0.5s;
}
#sicon img:hover{
	background-color: #f3c0b0;
}
/* Body */
#logo{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
#logo video{
	z-index: -1;
	position: relative;
	width: 100%;
	min-width: 720px;
	min-height: 400px;
	margin: auto 0;
}
/* This fixes the play button for the background video for iOS */
#logo video::-webkit-media-controls-start-playback-button {
	display: none !important;
}
#logo img{
	position: absolute;
	top: 50px;
	left: 50%;
	width: 390px;
	margin-left: -195px;
}
section{
	width: 940px;
	margin: 0 auto;
}
/* Footer */
footer{
	text-align: center;
}
.share {
	display: inline-block;
	text-align: center;
	margin: 0 13px;
}
.share figure{
	margin: 0;
}
.share figure figcaption{
	font-size:10px;
}
.share img{
	width:63px;
}
