body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
	color: #000;
}
/* Header */
header {
	width: 980px;
	height: 50px;
	left: 50%;
	position: fixed;
	margin: 0 -490px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 100;
}
header a{
	font-size: 1.2em;
	margin: 0 1px;
}
.navitem{
	display: inline;
}
.navitem:first-child a{
	border-radius: 0 0 0 10px;
	margin: 0 1px 0 0;
}
.navitem a {
	display: block;
	width: 110px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	color:#032f5c;
	transition: color 0.3s, background-color 0.3s;
}
.navitem a:hover{
	background-color:#f3c0b0;
	color:#ffffff;
}
/* These selected items have the important styles */
header .selected {
	background-color:#eb88a5 !important;
	color:#ffffff !important;
	fill: #fff !important;
	/* cursor: default !important; */
}
header .selected:hover{
	background-color:#eb88a5 !important;
	color:#ffffff !important;
}
#login a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
	border-radius: 0 0 10px 0;
	width: 110px;
	background-color: #ffffff;
	color: #032f5c;
	transition: color 0.3s, background-color 0.3s;
	margin: 0 0 0 1px;
}
#login a:hover{
	background-color: #f3c0b0;
	color: #fff;
}
#lang a{
	display: block;
	width: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1em;
	float: right;
	color: #032f5c;
	transition: color 0.3s, background-color 0.3s;
}
#lang a:hover{
	background-color: #f3c0b0;
	color: #ffffff;
}
#sicon{
	float: right;
	width: 50px;
	height: 50px;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
}
#sicon svg{
	width: 36px;
	height: 36px;
	margin-top: 7px;
	transition: fill 0.3s;
}
#search:hover #sicon{
	background-color: #f3c0b0;
	fill: white;
}
#sform{
	position: absolute;
	top: 50px;
	right:10px;
	width: 300px;
	line-height: 40px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.5s;
}
#search:focus #sform{
	opacity: 1;
}
#search:hover #sform{
	opacity: 1;
}
/* Body */
#logo{
	width: 100%;
	height: 450px;
	overflow: hidden;
}
#logo video{
	z-index: -1;
	position: relative;
	width: 100%;
	min-width: 840px;
	min-height: 450px;
	margin: auto 0;
}
/* This fixes the play button for the background video for iOS */
#logo video::-webkit-media-controls-start-playback-button {
	display: none !important;
}
#logo img{
	position: absolute;
	top: 80px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
}
#logo svg{
	position: absolute;
	left: 50%;
}
#bg1 svg{
	top: 80px;
	width: 340px;
	margin-left: -170px;
	fill: white;
	opacity: 0.8;
}
#bg2 svg{
	top: 50px;
	width: 400px;
	margin-left: -200px;
	fill: white;
	opacity: 0.3;
}
section{
	width: 960px;
	margin: 0 auto;
}
section h2{
	margin: 1em 0 0 0;
}
section h2 img{
	height: 1em;
	margin-right: 1em;
	vertical-align: top;
}
.pst {
	width: 509px;
	height: 382px;
	overflow: hidden;
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
}
.pst figure{
	width: 509px;
	height: 382px;
	position: absolute;
}
.pst figure+figure{
	left: 509px;
}
.pst figcaption{
	position: absolute;
	width: 100%;
	line-height: 3em;
	font-size: 1.5em;
	text-align: center;
	bottom: -3em;
	opacity: 0.8;
	background-color: black;
	color: white;
	transition: bottom 0.5s;
}
.pst:hover figcaption{
	bottom: 0;
}
section figure{
	width: 100%;
	margin: 0;
}
section figure img{
	width: 100%;
}
.pg {
	width: 400px;
	height: 382px;
	overflow: hidden;
	display: inline-block;
	vertical-align:top;
	margin-top: 20px;
}
.pg figure{
	display: inline-block;
	width: 188px;
	height: 185px;
	margin: 0 6px;
}
.pg .firstline figure{
	margin-bottom: 12px;
}
.pg figure img{
	width: 188px;
	height: 141px;
}
.pg figure figcaption{
	background-color: black;
	opacity: 0.7;
	color: white;
	height: 20px;
	font-size: 1em;
	padding: 10px;
	text-align: center;
}
.porg{
	display: inline-block;
	width: 640px;
	height: 528px;
	margin-top: 20px;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}
.porg #spacer{
	width: 640px;
	height: 16px;
	margin: 0;
}
.porg figure{
	display: inline-block;
	width: 144px;
	height: 256px;
	overflow: hidden;
	margin-right: 13px;
	background-color: cyan;
}
.porg figure img{
	position: absolute;
	width: 144px;
}
.porg figure figcaption{
	position: absolute;
	height: 256px;
	width: 144px;
	text-align: center;
	z-index: 1;
	background-color: black;
	color: white;
	opacity: 0;
	transition: opacity 0.4s;
}
.porg figure:hover figcaption{
	opacity: 0.7;
}
.pors{
	display: inline-block;
	width: 297px;
	height: 528px;
	background-color: pink;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}
.pors figure{
	margin: 0;
	height: 528px;
	position: absolute;
}
.pors figure+figure{
	left: 297px;
}
.pors figure figcaption{
	position: absolute;
	line-height: 3em;
	bottom: -3em;
	opacity: 0.8;
	width: 100%;
	text-align: center;
	color: white;
	background-color: black;
	transition: bottom 0.5s;
}
.pors:hover figure figcaption{
	bottom: 0;
}
.pwide figure{
	width: 300px;
	height: 169px;
	overflow: hidden;
	display: inline-block;
	margin: 20px 10px 0 10px;
	position: relative;
}
.pwide figcaption{
	position: absolute;
	bottom: -2em;
	text-align: center;
	width: 100%;
	line-height: 2em;
	background-color: black;
	color: white;
	opacity: 0.8;
	transition: bottom 0.5s;
}
.pwide figure:hover figcaption{
	bottom: 0;
}
/* Footer */
footer{
	text-align: center;
}
.share {
	display: inline-block;
	text-align: center;
}
.share figure{
	margin: 0 13px;
}
.share figure figcaption{
	font-size:10px;
}
.share img{
	width:63px;
}
.rounded{
	border-radius: 15px;
}
.hline{
	width:100%;
	height: 1px;
	background-color: #000;
	margin: 5px 0;
	clear: both;
}
.align{
	width: 8em;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}
#copyleft{
	text-align: left;
	width: 960px;
	margin: 0 auto;
}
#copyleft img{
	height: 31px;
	margin: 0 10px;
}
